-- file : config.lua
local module = {}

module.SSID = {}  
module.SSID["Fieldhouse2"] = "password1"
module.SSID["Fieldhouse's Network"] = "password2"

module.HOST = "io.adafruit.com"  
module.PORT = 1883
module.ID = node.chipid()
module.AIOUSERNAME = "kfieldho"
module.AIOKEY = "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa77"

module.ENDPOINTPUB = "kfieldho/feeds/seedbed"  
module.ENDPOINTSUB = "kfieldho/feeds/welcome-feed"  

module.DHTPIN = 5
return module  
